<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="ko-kr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/resources/css/common.css}"/>
    <title>MiliBrary 비밀번호 재설정</title>
</head>
<body>
<div class="bg-image"></div>

<div class="bg-text">
    <h1>MiliBrary 비밀번호 재설정</h1>
    <hr>
    <br>
    <p style="font-size:16px">비밀번호 재설정이 완료되었습니다.</p>
    <p style="font-size:16px">로그인해서 다양한 서비스를 이용해보세요!</p>
    <br>
    <hr>
    <br>
    <b style="font-size:12px">Copyright MiliBrary All rights reserved.</b>
</div>
</body>
</html>