<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.milibrary.mapper.BookmarkMapper">
    <resultMap id="Book" type="kr.milibrary.domain.Book" autoMapping="true"/>

    <resultMap id="Bookmark" type="kr.milibrary.domain.Bookmark">
        <result column="id" property="id"/>
        <result column="book_id" property="bookId"/>
        <result column="narasarang_id" property="narasarangId"/>
        <result column="content" property="content"/>
        <result column="created_at" property="createdAt"/>
        <association property="book" resultMap="Book"/>
    </resultMap>

    <select id="getBookmarkById" resultMap="Bookmark">
        SELECT *
        FROM milibrary.bookmarks AS t1
                 JOIN (SELECT * FROM milibrary.books) AS t2 ON t1.id = #{bookmarkId} AND t1.book_id = t2.id;
    </select>

    <select id="getMyBookmarkById" resultMap="Bookmark">
        SELECT *
        FROM milibrary.bookmarks AS t1
                 JOIN (SELECT * FROM milibrary.books) AS t2
                      ON t1.id = #{bookmarkId} AND t1.book_id = t2.id AND narasarang_id = #{narasarangId}
    </select>

    <insert id="createBookmark" useGeneratedKeys="true" keyProperty="bookmark.id">
        INSERT INTO milibrary.bookmarks (book_id, narasarang_id)
        VALUES (#{bookmark.bookId}, #{bookmark.narasarangId});
    </insert>

    <delete id="deleteBookmark">
        DELETE
        FROM milibrary.bookmarks
        WHERE id = #{bookmarkId}
          AND narasarang_id = #{narasarangId}
    </delete>

    <update id="updateBookmark" useGeneratedKeys="true" keyProperty="bookmark.id">
        UPDATE milibrary.bookmarks
        SET content = #{bookmark.content}
        WHERE id = #{bookmarkId};
    </update>

    <select id="getMyBookmarks" resultMap="Bookmark">
        SELECT *
        FROM milibrary.bookmarks AS t1
                 JOIN (SELECT * FROM milibrary.books) AS t2 ON t1.book_id = t2.id AND narasarang_id = #{narasarangId}
        ORDER BY t1.id DESC;
    </select>
</mapper>